@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Domine:wght@500&family=Patua+One&display=swap');
@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}
body{
    background-color: #82E0AD;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px ;

}

header{
    font-family: 'Bebas Neue', sans-serif; 
    height: 250px;
    margin: -8px;
    color: white;
    border: 10px;
    background-image: linear-gradient(to bottom,  #2FA865, #063D1E ); 
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.616);
}



#titulo{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 3.5em;
    text-decoration: none;
    margin: 10px;
    margin: 0px 0px 29px 0px;
    padding-top: 40px;
}

#subtitulo{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
}

nav > a {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin-right: 30px;
    margin-left: 25px;
    font-size: 1.1em;
    text-decoration: none; 
}

nav > a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

main{
    background-color: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
    margin-top: -25px;
    outline: 50px
}

section{
margin-left: 15px;
margin-right: 10px;
}


#android{
    font-family: 'android';
    margin-bottom: 20px;
    color: #063D1E;
    margin-left: 10px;
    font-size: 2em;
    padding-top: 15px;
}

#principal{
    text-indent: 20px ;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}

#versao{
    font-family: 'android';
    margin-bottom: 20px;
    color: #063D1E;
    margin-left: 10px;
    background-image: linear-gradient(to right, #C5EBD7, white);
    height: 30px;
    }


#dan{
    color: #063D1E;
    font-weight: bolder;
}

img{
    display: block;
    margin: auto;
}

#video{
    text-align: center;
    background-color: #063D1E;
}

#final{
    border-radius: 20px;
    background-color:#C5EBD7;
    margin-left: 30px;
    margin-right: 30px;
}

#aprender{
    background-color: #2FA865;
    height: 30px;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 20px 20px 0px 0px ;
}

#final{
    text-align: justify;
    column-count: inherit;
    height: 370px;
}

#texto{
    text-align: justify;
    text-indent:20px ;
}

li{
list-style:none;
}

footer{
    background-color: #063D1E;
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

li::before{
    content: '';
            position: relative;
            left: 0;
            top: 0;
            padding: 5px 15px;
            background-image: url(https://cdn.icon-icons.com/icons2/3953/PNG/512/android_icon_252192.png);
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 3px;
            margin-left: -50px;
}

#teste{
    text-align: justify;
    margin-left: 40px;
}