body{
background-color: rgba(250, 235, 215, 0.63);
font-family: Arial, Helvetica, sans-serif;
}

div > p {
    display: none;
}
div:hover > p {
    display: block;
    background-color: yellow;
}

#titulo{
    background-color: rgba(0, 0, 0, 0.418);
    text-align: center;
}
ul{
    list-style: none;
}

a{
text-decoration: none;
color: rgb(167, 94, 0);
}

a:hover{
    color: darkgray;
}

a:active{
font-weight: bold;
}

